@import "../../Utils/Style-settings/mixins";
@import "../../Utils/Style-settings/variables";

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        &__li{
            color: $forth-color;
        }
    }
}